.page-info
    .page-info_img
        .fs-bg
            img(src='images/ico-fs.svg' alt='fence img')
        img(src='images/account/sub-cow.png' srcset='images/account/sub-cow@2x.png 2x' alt='image').front-img
    .page-info_container
        .page-info_block.page-info_text.active
            h3.page-info_title What you get each month.
            p Each Ranchr Delivery includes a curated mix of cuts that highlights the best from that ranch.  It will feature a selection of everyday essentials such patties, ground beef, roasts, tri tip and premium cuts such as filets, rib eye, sirloin.
            ul.page-info_list
                li 12 pounds of the best beef you'll ever have
                li Curated Recipes
                li Information about the rancher and background on cattle raising techniques

        .page-info_block.page-info_plan
            h5.h-title Select a plan
            ul.page-info_list-plan
                li
                    a(href='#') Select box
                li
                    a(href='#') Premium Box
        .page-info_block.page-info_plan-edit
            h5.h-title Premium Ranchr Box
                a(href="#").edit-plan Edit
            .plan-info
                ul
                    li 10lbs of beef
                    li 2lbs of free ground beef
                    li Free Shipping
                .plan-info_price
                    p $149.00 per Month

