section.difference.diff_sub
    a(href='#' name="myAnchor" id="myAnchor").top-scroll
    .info-card.info-card1
        .container
            .difference_ico-bg.ico-bg1.parallax-item
                img(src='images/ico-lk.svg' alt='ico')
            .difference_ico-bg.ico-bg2.parallax-item
                img(src='images/ico-lk.svg' alt='ico')
            .row.align-items-center.justify-content-center
                .col-lg-6.offset-xl-1.col-12.order-lg-1.order-2
                    .info-card_info
                        h5 The royal family
                        p These are the best of the best, and include rib eye steak, New York strips, tenderloin, coulette. Perfect for the grill, and perfect to impress the neighbors.

                .col-lg-5.col-md-10.col-10.order-lg-2.order-1
                    .info-card_img-p
                        img.parallax-meat(src='images/pdp/meat-1.png' srcset='images/pdp/meat-1@2x.png 2x' alt='image')
                        span.parallax-item
                            img(src='images/pdp/dill.png' srcset='images/pdp/dill@2x.png 2x' alt='image')

    .info-card.info-card2
        .container
            .row.align-items-center.justify-content-center
                .col-lg-6.col-md-10.col-10
                    .info-card_img-p
                        img.parallax-meat(src='images/pdp/meat-2.png' srcset='images/pdp/meat-2@2x.png 2x' alt='image')
                        span.parallax-item
                            img(src='images/pdp/pepper.png' srcset='images/pdp/pepper@2x.png 2x' alt='image')
                .col-lg-6.col-12
                    .info-card_info
                        h5 Sunday best
                        p These cuts are perfect for family dinners and include roasts, tri tip, ribs, and brisket. Time and attention with these cuts will make your house smell good and put everyone in a good mood.

    .info-card.info-card3
        .container
            .row.align-items-center.justify-content-center
                .col-lg-6.offset-xl-1.col-12.order-lg-1.order-2
                    .info-card_info
                        h5 Everyday essentials
                        p These include ground beef, patties, and flat iron steak. These cuts provide the foundation for a broad array of easy, healthy, and tasty meals.

                .col-lg-5.col-md-10.col-10.order-lg-2.order-1
                    .info-card_img-p
                        img.parallax-meat(src='images/pdp/meat-3.png' srcset='images/pdp/meat-3@2x.png 2x' alt='image')
                        span.parallax-item
                            img(src='images/pdp/parsley.png' srcset='images/pdp/parsley@2x.png 2x' alt='image')
