section.main-cover.main-cover_sub
    .container
        .row.justify-content-center.align-items-center
            .col-md-10.col-sm-12
                .main-cover_content
                    h2 The Ranchr Box

                    p Become a beef connoisseur by tasting meat raised in different regions and finished on varying types of diets. Each pasture-raised cut is free of antibiotics and hormones and raised in humane conditions. Best of all, we’ve cut out the middleman to pass the savings directly to you.

            a(href='#myAnchor').scroll-down
                img(src='images/arrow-d.svg' alt='arrow')
    .line-info
        p Each box comes with select cuts from these curated categories:
