section.choose-plan
    a(href='#' name="cPlan" id="cPlan").top-scroll
    .cow-icon
        img(src='images/ico-cow.svg' alt='ico')
    .container
        .row.justify-content-center
            .col-md-8.col-12
                .choose-plan_title
                    h2 Choose a plan
                    p.
                        We’ll ship in an insulated box that will keep your meat frozen and safe. The box and packaging material is 100% compostable. You will receive the background and history of the rancher, including detailed information on cattle diet and raising techniques
                        Each box will include recipes that best capture the flavor of your featured ranch
            .col-md-10.col-12
                .choose-plan_wrap
                    .choose-plan_item.order-lg-1.order-2
                        .item_title
                            h5.h-title Select
                        .item_btn.order-2
                            a(href='#').btn_green choose plan
                                span.btn-icon
                                    img(src='images/arrow.svg' alt='arrow')
                        .item_info.order-1
                            .item_price
                                div
                                    sup $
                                    span 99
                                    sub Month
                            .item_list
                                ul
                                    li
                                        span 6lbs of beef
                                    li
                                        span 2lbs of free ground beef
                                    li
                                        span Free Shipping
                            .item_img
                                img(src='images/pdp/plan-box.png' srcset='images/pdp/plan-box@2x.png 2x' alt='image')

                    .choose-plan_item.order-lg-2.order-1
                        .item_title
                            h5.h-title Premium
                        .item_btn.order-2
                            a(href='#').btn_green choose plan
                                span.btn-icon
                                    img(src='images/arrow.svg' alt='arrow')
                        .item_info.order-1
                            .item_price
                                div
                                    sup $
                                    span 149
                                    sub Month
                            .item_list
                                ul
                                    li
                                        span 10lbs of beef
                                    li
                                        span 2lbs of free ground beef
                                    li
                                        span Free Shipping

                            .item_img
                                img(src='images/pdp/plan-box.png' srcset='images/pdp/plan-box@2x.png 2x' alt='image')

