section.confirm
    .container
        .row.justify-content-center
            .col-xl-6.col-md-9.col-11
                .confirm_info
                    h1.h-title Thank you for your order!
                    h4.sub-title Your order has been placed.
                    p Now sit back, relax and get ready for your curated shipment of hand selected meats from our local farmers.
