- var headerClass = 'main-header_sub'
- var formSection = false

doctype html
html
    head
        title Plato
        meta(charset='utf-8')
        meta(name='viewport', content='initial-scale=1.0, width=device-width')
        meta(name='theme-color', content='#ffffff')

        link(type='text/css' rel='stylesheet' href='styles/screen.min.css')

    body
        include ../sections/main/header

        include ../sections/account and payment/main-section

        script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js')
        script(src='scripts/jquery.nice-select.min.js')
        script(src='scripts/glide.min.js')
        script(src='scripts/main.min.js')

