section.about-us
    a(href='#' name="myAnchor" id="myAnchor").top-scroll

    .container
        .about-us_ico-bg
            img(src='images/ico-head.svg' alt='ico')
        .row.justify-content-center
            .col-lg-9.col-md-12.col-sm-12
                p.about-us_title.
                    Now a days people are used to sacraficing quality for quick and taste for convenience.
                    We’re Ranchr and we are going to end that.  We bring you the highest quality meats directly from our ethical farmers. Meats that are meant to be carefully and precisely cooked by passionate grillers. We aren’t for the quick and easy. We’re for those looking for quality done right.
