section.difference
    .container
        .row
            .col-12
                .difference_title
                    h2.h2-bg Why Become a Ranchr?

    .info-card.info-card1
        .container
            .difference_ico-bg.ico-bg1
                img(src='images/ico-lk.svg' alt='ico')
            .difference_ico-bg.ico-bg2
                img(src='images/ico-lk.svg' alt='ico')
            .difference_ico-bg.ico-bg3
                img(src='images/ico-cow.svg' alt='ico').cow-ico
            .row.align-items-center.justify-content-md-center
                .col-lg-6.col-12.order-lg-1.order-2
                    .info-card_info
                        h5 Mouthwatering Taste
                        p Happy cows create great beef. Our cows are raised with ethical standards - no antibiotics, no growth hormones - ensuring a healthy product that is only matched by its taste.

                .col-lg-6.col-md-10.col-12.order-lg-2.order-1
                    .info-card_img
                        img(src='images/1.jpg' srcset='images/1@2x.jpg 2x' alt='image')

    .info-card.info-card2
        .container
            .difference_ico-bg.ico-bg4
                img(src='images/ico-lk.svg' alt='ico')
            .difference_ico-bg.ico-bg5
                img(src='images/ico-lk.svg' alt='ico')
            .row.align-items-center.justify-content-md-center
                .col-lg-5.col-md-10.col-12
                    .info-card_img
                        img(src='images/2.jpg' srcset='images/2@2x.jpg 2x' alt='image')
                .col-xl-6.col-lg-7.col-12
                    .info-card_info
                        h5 Full Transparency
                        p We know you want to know where your food comes from. With Ranchr, we provide complete transparency into the raising techniques of each ranch.  We connect you with the amazing and authentic ranchers who have been producing high quality meat, often for generations.  You will take comfort in knowing how and where your beef was raised.

    .info-card.info-card3
        .container
            .difference_ico-bg.ico-bg6
                img(src='images/ico-fr.svg' alt='ico')
            .row.align-items-center.justify-content-md-center
                .col-lg-6.col-12.order-lg-1.order-2
                    .info-card_info
                        h5 Shared Stewardship
                        p We believe that stewardship of the animals, land and environment is a collective responsibility. Being part of the Ranchr community means you are voting with your dollars to support a more responsible food system.

                .col-lg-6.col-md-10.col-12.order-lg-2.order-1
                    .info-card_img
                        img(src='images/3.jpg' srcset='images/3@2x.jpg 2x' alt='image')
