section.main-cover
    .container
        .row.align-items-lg-end.justify-content-lg-start.justify-content-center
            .col-xl-6.col-lg-5.col-md-4.col-8
                .main-cover_img
                    img(src='images/Cover-image.png' srcset='images/Cover-image@2x.png 2x' alt='Cover Image')
            .col-xl-6.col-lg-7.col-md-10.col-sm-12
                .main-cover_content
                    h1
                        span.h1_image
                            img(src='images/h-logo.svg' alt='h1 logo')

                        span In good taste

                    p Ranchr is a monthly subscription service delivering consumers the best craft beef directly from America’s small ranchers.
                    a(href='#').btn_green Sign Up
                        span.btn-icon
                            img(src='images/arrow.svg' alt='arrow')


            a(href='#myAnchor').scroll-down
                img(src='images/arrow-d.svg' alt='arrow')
