section.price
    .container
        .price_ico-bg
            img(src='images/ico-fs.svg' alt='ico')
        .row.justify-content-md-center.align-items-xl-start.align-items-lg-center
            .price_info.col-lg-6.col-md-12.order-lg-1.order-2
                h2 We bring the ranch right to you for just
                    | &ensp;
                    span.h2-s-green $6 per meal.

                p.main-p.
                    Each Ranchr Delivery includes a curated mix of cuts that highlights the best from that
                    ranch.  It will feature a selection of everyday essentials such patties, ground beef, roasts, tri tip and premium cuts such as filets, rib eye, sirloin.

                a(href='#').btn_green Get Started
                    span.btn-icon
                        img(src='images/arrow.svg' alt='arrow')

                p.small-text *If you’re not 100% satisfied with your Ranchr delivery, let us know and we’ll make
                    | it right.
            .col-lg-6.col-md-12.order-lg-2.order-1
                .price_image
                    img(src='images/products.png' srcset='images/products@2x.png 2x' alt='image')
                    .image-info
                        span.image-info_icon
                            img(src='images/util-icon.svg' alt='icon')
                        | Our boxes are made of compostable materials and 100% recyclable
