section.quality
    .container
        .row.justify-content-center
            .col-xl-8.col-md-10.col-sm-12
                h2 Quality you can taste
            .col-xl-6.col-md-8.col-sm-12
                p Reclaim the grill with the highest quality meats sourced from our ethical farmers.
