section.setup
    .container
        .setup_ico-bg
            img(src='images/ico-cow-w.svg' alt='ico').cow-ico_w

        .row.justify-content-center
            .col-12
                .setup_title
                    h2 Taste. Transparency. Stewardship.
                    p We connect you to the ethical ranchers in just minutes.

        .row.justify-content-center
            .col-lg-4.col-md-6.col-sm-12
                .setup-card
                    .setup-card_img
                        img(src='images/ico1.svg' alt='icon')
                    .setup-card_info
                        h6 Sign up
                        p Provide us with a few details and you’re on your way to enjoying this month’s product from one of our craft  ranchers.

            .col-lg-4.col-md-6.col-sm-12
                .setup-card
                    .setup-card_img
                        img(src='images/ico2.svg' alt='icon')
                    .setup-card_info
                        h6 Receive monthly delivery
                        p Receive 10-12 pounds of craft beef, each month from a different rancher. Our boxes are 100% compostable and environmentally friendly.

            .col-lg-4.col-md-6.col-sm-12
                .setup-card
                    .setup-card_img
                        img(src='images/ico3.svg' alt='icon')
                    .setup-card_info
                        h6 Enjoy!
                        p Whether dining solo or cooking for friends, you’ll taste the difference that comes from an American pasture-raised, high-quality product. We guarantee it.
