section.sign-up
    .container
        .row.justify-content-center
            .col-lg-8.col-md-12
                h2 High quality beef you can feel good about
                a(href='#').btn_green Sign Up
                    span.btn-icon
                        img(src='images/arrow.svg' alt='arrow')
