section.testimonials
    .container
        .testimonials_ico-bg.ico-bg1
            img(src='images/ico-head.svg' alt='ico')
        .testimonials_ico-bg.ico-bg2
            img(src='images/ico-head.svg' alt='ico')

        .row.justify-content-center
            .col-md-8.col-12
                .testimonials_title
                    h5 The Ranchr way
                    p Don’t just take it from us. Here’s what our customers have to say.

        .row.justify-content-center
            .col-lg-10.col-md-12
                .glide
                    .glide__track(data-glide-el="track")
                        ul.glide__slides
                            li.glide__slide
                                h4.
                                    “Knowing that the beef I eat is supporting small, American ranchers makes
                                     it taste so much better.”

                                p Ryan, Minneapolis

                            li.glide__slide
                                h4.
                                    “Knowing that the beef I eat is supporting small, American ranchers makes
                                     it taste so much better.”

                                p Ryan, Minneapolis

                            li.glide__slide
                                h4.
                                    “Knowing that the beef I eat is supporting small, American ranchers makes
                                     it taste so much better.”

                                p Ryan, Minneapolis


                    .glide__arrows(data-glide-el='controls')
                        button.glide__arrow.glide__arrow--left(data-glide-dir='<')
                            img(src='images/slider-arrow.svg' alt='arrow')

                        button.glide__arrow.glide__arrow--right(data-glide-dir='>')
                            img(src='images/slider-arrow.svg' alt='arrow')
                    .glide__bullets(data-glide-el='controls[nav]')
                        button.glide__bullet(data-glide-dir='=0')
                        button.glide__bullet(data-glide-dir='=1')
                        button.glide__bullet(data-glide-dir='=2')
