header.main-header(class= headerClass)
    .container
        .row
            .col-lg-4.col-3
                .main-header_logo
                    a(href='#' title='Home Page')
                        img(src='images/logo.svg' alt='logo').header-l-logo
                        img(src='images/f-logo.svg' alt='logo').header-s-logo
            .col-lg-8.col-9
                .main-header_menu
                    a(href='#') Our Product
                    a(href='#').btn_border-white Sign Up
                .main-header_d-menu
                    a(href='#').head-btn Sign Up
                    .hamburger
                        .hamburger_line-wrap
                            span
                            span
